:root {
    /* ---Variables--- */
    /* --Colors-- */
    /* -Primary- */
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    /* -Neutral- */
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);

    /* -Text Fonts- */
    --fs-quote: 28px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Dark-Blue);
    margin: auto;
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.card {
    background-color: var(--Dark-Grayish-Blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 540px;
    border-radius: 10px;
    text-align: center;
}

.adviceID {
    color: var(--Neon-Green);
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    padding-top: 30px;
}

.adviceTextWrapper {
    color: var(--Light-Cyan);
    font-size: 22px;
    margin-bottom: 30px;
    padding: 0 45px;
}

.getAdvice {
    margin-top: 15px;
    background-color: var(--Neon-Green);
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 50%;
    transform: translateY(50%);
    position: relative;
    cursor: pointer;
}

.getAdvice::after {
    content: ' ';
    display: flex;
    box-shadow: 0 0 20px var(--Neon-Green);
    border-radius: 50%;
    opacity: 0;
    transition: 400ms;
    position: absolute;
    inset: 0;
}

.getAdvice:hover::after {
    opacity: 1;
}

.load {
    display: none;
    border: 5px solid #eaf0f698;
    border-radius: 50%;
    border-top-color: hsl(150, 62%, 34%);
    width: 70px;
    height: 70px;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@media screen and (max-width: 540px) {
    .card {
        margin: 15px;
    }
    
    .adviceTextWrapper {
        padding: 0 30px;
    }
}